.container {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 40px;
  max-width: 1320px;
}

body.locked {
  overflow: hidden;
}

.btn {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn__outline {
  color: #03283C;
}

.btn__outline:hover {
  color: #DD6200;
}

.btn__primary {
  color: #ffffff;
  background-color: #03283C;
}

.btn__primary:hover {
  background-color: #010D14;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  height: 69px;
}

.header__body {
  position: relative;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 60px;
}

.header .menu__item.with__submenu {
  position: relative;
}

.header .menu .submenu {
  display: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #03283C;
  margin-left: inherit;
}

.header .menu .submenu.active {
  display: block;
  -webkit-animation: fade 0.3s linear;
  animation: fade 0.3s linear;
}

.header .menu .submenu__item:hover {
  background-color: #DD6200;
  color: white;
  -webkit-transition: 0.3s background-color;
  -o-transition: 0.3s background-color;
  transition: 0.3s background-color;
}

.header .menu .submenu__link {
  padding: 15px;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
}

.header .menu .submenu__link:hover {
  color: white;
}

.header .menu li {
  list-style: none;
}

.header .menu a {
  color: #010D14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  -webkit-transition: 0.3s color;
  -o-transition: 0.3s color;
  transition: 0.3s color;
  text-decoration: none;
}

.header .menu a:hover {
  color: #DD6200;
}

.header__logo {
  font-size: 26px;
  line-height: 20px;
}

.header__logo a {
  text-decoration: none;
  color: white;
}

.header__logo img {
  max-width: 100%;
}

.header .submenu__arrow {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.3s -webkit-transform;
  transition: 0.3s -webkit-transform;
  -o-transition: 0.3s transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
}

.header .submenu__arrow.active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header .trigger__link.active {
  color: #DD6200;
}

.header .trigger__link.active .submenu__path {
  fill: #DD6200;
}

.header .trigger__link:hover .submenu__path {
  fill: #DD6200;
  -webkit-transition: 0.3s fill;
  -o-transition: 0.3s fill;
  transition: 0.3s fill;
}

.header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header .header__menu ul {
  z-index: 12;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.header .burger {
  display: none;
}

header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  display: none;
}

.nav {
  cursor: pointer;
}

.nav__btns {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__btn {
  text-decoration: none;
  padding: 15px 30px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

ul {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: #3bbfce;
  font-family: "Montserrat", sans-serif;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1 {
  color: #a6748d;
  padding: 20px;
}

header h2 {
  text-decoration: none;
  font-size: 26px;
  color: #c6538c;
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1320px;
  }

  .btn {
    font-size: 16px;
  }

  .header .menu .submenu__link {
    text-align: center;
    font-size: 14px;
  }

  .header__logo img {
    max-width: 200px;
  }

  .header .header__menu ul {
    gap: 25px;
    margin-left: 40px;
  }

  .nav__btn {
    padding: 15px 20px;
  }
}

@media (max-width: 1024.98px) {
  .header .menu a {
    font-size: 14px;
  }
}

@media (max-width: 997.98px) {
  .container {
    max-width: 998px;
  }

  .btn__outline {
    color: #ffffff;
  }

  .header .menu .submenu.active {
    padding-top: 15px;
  }

  .header .menu .submenu {
    position: static;
  }

  .header .menu .submenu__link {
    font-size: 20px;
  }

  .header .menu .trigger__link {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header .menu a {
    padding: 40px 0px;
    color: #ffffff;
    display: block;
  }

  .header .menu a {
    font-size: 20px;
  }

  .header__logo {
    font-size: 24px;
  }

  .header .submenu__arrow .submenu__path {
    fill: white;
  }

  .header .trigger__link.active {
    padding: 0px 0;
  }

  .header {
    height: 50px;
  }

  .header .navbar {
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header .burger {
    z-index: 10;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }

  .header .burger:before,
  .header .burger:after {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    content: "";
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }

  .header .burger:before {
    top: 1px;
  }

  .header .burger:after {
    bottom: 0px;
  }

  .header .burger span {
    position: absolute;
    background-color: #000000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .header .burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    background-color: #DD6200;
  }

  .header .burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    background-color: #DD6200;
  }

  .header .burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header .header__menu {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    left: 100%;
    padding-top: 50px;
    z-index: 7;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #03283C;
  }

  .header .header__menu ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header .header__menu.active {
    left: 0;
  }

  .header .header__menu ul {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    gap: 10px;
    margin-left: 0;
  }

  .nav__btns {
    margin-left: inherit;
    gap: 20px;
  }

  .nav__btn {
    width: 100%;
    background: #DD6200;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 768;
  }

  header:before {
    display: block;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }

  .header .menu a {
    font-size: 18px;
  }

  .nav__btns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}